.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 20px;
}

.header {
  background-color: #ffffff;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 2rem;
}

li a {
  color: #495e57;
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: bold;
  text-decoration: none
}

.main {
  flex: 1;
  display: flex;
  background-color: #495e57;
}

.left-section {
  flex: 1;
  padding: 20px;
  margin-left: 500px;
  margin-right: 200px;
  align-items: flex-start;
}

.left-section h1 {
  margin: 0;
  color: #F4CE14;
  font-family: 'Markazi';
  font-size: 40pt;
  font-weight: bold;
}

.left-section h2 {
  margin: 0;
  color: #ffffff;
  font-family: 'Markazi';
  font-size: 20pt;
  font-weight: bold;
}

.left-section p {
  margin: 0;
  color: #ffffff;
  font-family: 'Karla';
  font-size: 14pt;
  font-weight: bold;
}

.right-section {
  flex: 1;
  padding: 20px;
  margin-right: 500px;
  align-items: flex-end;
}

.right-section img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.highlight {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 500px;
}

.highlight-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
}

.highlight-top h1 {
  margin: 0;
  color: #495e57;
  font-family: 'Markazi';
  font-size: 40pt;
}

.menu-button {
  background-color: #f4ce14;
  color: #495e57;
  font-family: 'Karla';
  border: none;
  padding: 10px 20px;
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
  border-radius: 15px;
}

.menu-button:hover {
  background-color: #0056b3;
}

.highlight-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.highlight-column {
    background-color: #edefee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.highlight-column img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.highlight-column h2 {
    color: #333333;
    font-size: 18pt;
    font-family: 'Markazi';
    margin: 10px 0 5px 0;
}

.highlight-column h3 {
    color: #ee9972;
    font-size: 18pt;
    font-family: 'Karla';
    margin: 10px 0 5px 0;
}

.highlight-column p {
    color: #495e57;
    font-size: 16pt;
    font-family: 'Karla';
    margin: 20px 0;
}

.testimonials {
  background-color: #ffffff;
  margin: 0 500px;
  color: #495e57;
}

.testimonials h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Markazi';
  font-size: 30pt;
  font-weight: bold;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial {
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border-radius: 8px;
}

.profile-image {
  width: 50px;
  height: 50px;
  float: left;
  margin: 3px;
  padding: 3px;
}

.rating {
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  display: flex;
  align-items: center;
}

.profile-image {
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name {
  font-weight: bold;
}

.text {
  margin-top: 10px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  padding: 20px;
  margin: 0 500px;
  background-color: #495e57;;
}

.about-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  font-family: 'Markazi';
  font-size: 15pt;
  font-weight: bold;
  color: #ffffff;
}

.about-left h1 {
  color: #f4ce14;
}

.about-right {
  position: relative;
}

.about-right img {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.image-left {
  position: absolute;
  top: 30px; /* Adjust this value to control the vertical overlap */
  left: 0;
}

.image-right {
  position: relative;
  z-index: 1;
  left: 100px;
}

/*@media (max-width: 768px) {
  .about {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .about-left, .about-right {
      justify-content: center;
      align-items: center;
  }

  .about-right img {
      max-width: 200px;
  }

  .image-left {
      top: 20px;
  }
}*/

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  background-color: #edefee;
  border-top: 1px solid #ccc;
  margin: 0 500px;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-section h3{
  color: #495e57;
  font-family: 'Markazi';
  font-size: 20pt;
  font-weight: bold;
}

.footer-logo {
  width: 200px;
  height: auto;
}

.footer-nav,
.footer-social {
  list-style: none;
  padding: 0;
}

.footer-nav li,
.footer-social li {
  margin-bottom: 10px;
}

.footer-nav a,
.footer-social a {
  text-decoration: none;
  color: #000;
}

.footer-nav a:hover,
.footer-social a:hover {
  text-decoration: underline;
}

/*@media (max-width: 768px) {
  .footer {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .footer-section {
      align-items: center;
  }

  .footer-nav li,
  .footer-social li {
      margin-bottom: 5px;
  }

  .footer-logo {
      width: 80px;
  }
}*/

.bookadate {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  color: #495e57;
  font-family: 'Markazi';
  font-size: 20pt;
  font-weight: bold;
}

.booking-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  color: #495e57;
  font-family: 'Markazi';
  font-size: 20pt;
  font-weight: bold;
}

.booking-form label {
  margin-bottom: 1rem;
}

.booking-form input,
.booking-form select {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.booking-form button {
  background-color: #f4ce14;
  color: #495e57;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  font-family: 'Karla';
  padding: 10px 20px;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 15px;
}

.booking-form button:hover {
  background-color: #0056b3;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.booking-table th, .booking-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.booking-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.booking-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.booking-table tr:hover {
  background-color: #ddd;
}

.confirmedbooking {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  color: #495e57;
  font-family: 'Markazi';
  font-size: 20pt;
  font-weight: bold;
}